---
title: Home
layout: default
background: "/img/bg-index.jpg"
---

<!-- Home Intro
================================================== -->
{% if page.url == "/" %}
<div class="rounded mb-5 hero">
  <div class="row align-items-center justify-content-between">
    <div class="col-md-6">
      <h1 class="font-weight-bold mb-4 serif-font">Unveiling the delightful side of technology</h1>
      <p class="lead mb-4">Aligning the Content with Evolving Standards</p>
      <a href="https://candibod.in" target="_blank" class="btn btn-dark text-white px-5 btn-lg">About me</a>
    </div>
    <div class="col-md-6 text-right ps-0 ps-lg-4">
      <img class="intro" height="500" src="https://candibod-blog.s3.amazonaws.com/assets/intro.svg" />
    </div>
  </div>
</div>
{% endif %}

<section class="row">
  <h2 class="mt-4 mb-4 mt-md-5 mb-md-5 text-muted">Featured</h2>
  <div>
    {% for post in site.posts %} {% if post.featured == true %}
    <div class="col-md-4 mb-5">{% include postbox.html %}</div>
    {% endif %} {% endfor %}
  </div>
</section>

<section class="row justify-content-md-center">
  <h2 class="text-lg-center mt-4 mt-md-5 text-muted">Latest Stories</h2>
  <div class="col-sm-8 mt-4 mt-md-5">
    <div class="row">
      {% for post in paginator.posts %} {% unless post.featured == true %}
      <div class="col-md-6 mb-5">{% include postbox.html %}</div>
      {% endunless %} {% endfor %}
    </div>
    <!-- Pagination -->
    <div class="bottompagination">
      <span class="navigation" role="navigation"> {% include pagination.html %} </span>
    </div>
  </div>
</section>
