<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link rel="icon" href="{{site.favicon}}" />

    <title>{{ page.title }} | {{site.title}}</title>

    {% seo %}

    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />

    <link href="{{ site.baseurl }}/assets/css/theme.css" rel="stylesheet" />
    <!-- custom CSS end-->
  </head>

  {% capture layout %}{% if page.layout %}layout-{{ page.layout }}{% endif %}{% endcapture %}
  <body class="{{ layout }}">
    <!-- Menu Navigation
================================================== -->
    <div class="navigation-wrap start-header start-style">
      <nav class="navbar navbar-expand-lg">
        <div class="container nav-container">
          <a class="navbar-brand text-dark font-weight-bold big d-flex align-items-center" href="{{site.baseurl}}/">
            {% if site.logo %}
            <img class="me-2" src="{{site.logo}}" height="50" width="50" alt="logo" />
            {% else %}
            <span class="d-none d-md-inline-block">{{ site.title }}</span>
            {% endif %}
          </a>
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarResponsive"
            aria-controls="navbarResponsive"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor" class="bi bi-three-dots-vertical" viewBox="0 0 16 16">
              <path d="M9.5 13a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z" />
            </svg>
          </button>

          <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ms-auto font-weight-bold d-flex align-items-center">
              <li class="nav-item">
                <a class="nav-link px-3" href="" alt="Home">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link px-3" href="https://candibod.in" target="_blank" alt="About">About</a>
              </li>
              <li class="nav-item">
                <a class="nav-link px-3" href="mailto:candibod.g1@gmail.com" alt="Contact">Contact</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </div>

    <!-- Container
================================================== -->
    <main class="container">{{ content }}</main>

    <!-- Footer
================================================== -->
    <footer class="footer container text-center">
      <ul class="p-0 mb-1 small">
        <li>
          <a href="" alt="Home">Home</a>
        </li>
        <li>
          <a href="https://candibod.in" target="_blank" alt="About">About</a>
        </li>
        <li>
          <a href="mailto:candibod.g1@gmail.com" alt="Contact">Contact</a>
        </li>
      </ul>
      <div class="copyright small">Copyright © {{site.title}}. All rights reserved.</div>
    </footer>

    <!-- JavaScript
================================================== -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
      integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
      crossorigin="anonymous"
    ></script>
    <script>
      (function ($) {
        "use strict";

        $(function () {
          var header = $(".start-style");
          $(window).scroll(function () {
            var scroll = $(window).scrollTop();

            if (scroll >= 10) {
              header.removeClass("start-style").addClass("scroll-on");
            } else {
              header.removeClass("scroll-on").addClass("start-style");
            }
          });
        });

        //Menu On Hover
        $("body").on("mouseenter mouseleave", ".nav-item", function (e) {
          if ($(window).width() > 750) {
            var _d = $(e.target).closest(".nav-item");
            _d.addClass("show");
            setTimeout(function () {
              _d[_d.is(":hover") ? "addClass" : "removeClass"]("show");
            }, 1);
          }
        });
      })(jQuery);
    </script>
  </body>
</html>
